<link rel="stylesheet" href="stylesheets/index.css" />
<div>
    {{!-- 标题栏 --}}
    <div class="top">
        <center>
            <h1>Internet of Vehicles</h1>
            <a href="/login"><input id="login" type="button" value="登陆"></a>
            <a href="/regist"><input id="regist" type="button" value="注册"></a>
            {{message}}
        </center>
    </div>
    {{!-- 简介栏 --}}
    <div class="screen">
        <h1>车联网信息分发平台</h1>
        <p>期待你的参与，共同打造一个交互网络</p>
        <button>获取新get技能✔</button>
    </div>
    {{!-- 发展历史 --}}
    <div class="history">
        <h2>发展历史</h2>
        <div class="lin">
            <p>
                车联网在国外起步较早。在20世纪60年代，日本就开始研究车间通信。2000年左右，欧洲和美国也相继启动多个车联网项目，旨在推动车间网联系统的发展。
                2007年，欧洲6家汽车制造商（包括BMW等）成立了Car2Car通信联盟，积极推动建立开放的欧洲通信系统标准，实现不同厂家汽车之间的相互沟通。2009年，
                日本的VICS车机装载率已达到90%。而在2010年，美国交通部发布了《智能交通战略研究计划》，内容包括美国车辆网络技术发展的详细规划和部署。
                与国外车联网产业发展相比，我国的车联网技术直至2009年才刚刚起步，最初只能实现基本的导航、救援等功能。随着通信技术的发展，2013年国内汽车网
                络技术已经能够实现简单的实时通信，如实时导航和实时监控。在2014-2015年，3G和LTE技术开始应用于车载通信系统以进行远程控制。2016年9月，华为、
                奥迪、宝马和戴姆勒等公司合作推出5G汽车联盟（5GAA），并与汽车经销商和科研机构共同开展了一系列汽车网络应用场景。此后至2017年底，国家颁布了
                多项方案，将发展车联网提到了国家创新战略层面。在这期间，人工智能和大数据分析等技术的发展使得车载互联网更加实用，如企业管理和智能物流。此外
                ADAS等技术可以实现与环境信息交互，使得UBI业务的发展有了强劲的助推力。未来，依托于人工智能、语音识别和大数据等技术的发展，车联网将与移动互
                联网结合，为用户提供更具个性化的定制服务。
            </p>
        </div>
        <img class="indexImg" src="images/car.jpg">
    </div>
    {{!-- 分割 --}}
    <div class="partline">
        <h2>Internet of vehicles ecosystem</h2>
    </div>
    {{!-- 消息分类 --}}
    <div>
        <h2>消息分类</h2>
        <div class="part-container">
            <div class="partdiv">
                <p>紧急制动类(一类)：</p>
                <p>A类信息 (车距类）判断标准：安全车距</p>
                <p>B类信息 (车速类）判断标准：在当前道路是否超速</p>
            </div>
            <div class="partdiv">
                <p>交通效率类(二类)：</p>
                <p>A类信息 (天灾路况类）判断标准：由于气象灾害导致的泥石流、山体滑坡、森林失火等自然灾害</p>
                <p>B类信息 (节日路况类）判断标准：节假日引起的严重道路情况如：春运、国庆、五一出行等</p>
                <p>C类信息 (事故路况类）判断标准：交通事故</p>
                <p>D类信息 (普通路况类）判断标准：早高峰，晚高峰，一般交通拥堵</p>
            </div>
            <div class="partdiv">
                <p>娱乐信息类(三类)：</p>
                <p>A类信息 (新闻类）判断标准：天气，各地新闻等</p>
                <p>B类信息 (娱乐类）判断标准：影视资讯等</p>
            </div>
        </div>
    </div>
    {{!-- 页脚 --}}
    <div class="foot">
        <h2>© 2019 Internet of Vehicles. by the MLC Team.</h2>
        <p>备案号：浙ICP备19051784号-1</p>
    </div>
</div>