/* 后台管理页css样式设置 */


/* 总体样式设计 */

* {
    margin: 0;
    /*去除div两边留白*/
    padding: 0;
}

body {
    background: #EDF1F5;
}

div {
    /* 设置宽度高度背景颜色 */
    height: auto;
    width: 100%;
    text-align: center;
}

.navbar-top-links {
    margin-right: 0;
}

.pull-right {
    float: right!important;
}


/*
@media (min-width: 768px)
.navbar-right {
    float: right!important;
    margin-right: -15px;
}
*/

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-top-links>li {
    float: left;
}

nav>li {
    position: relative;
    display: block;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}

@media (max-width: 376px) {
    ol,
    ul {
        margin-left: 30px;    
    }
}


.menu {
    display: none;
}

.app-search {
    position: relative;
    margin: 0;
    bottom: 15px;
}

.app-search .form-control,
.app-search .form-control:focus {
    border: none;
    font-size: 13px;
    color: #4c5667;
    padding-left: 20px;
    padding-right: 40px;
    background: rgba(255, 255, 255, .9);
    box-shadow: none;
    height: 30px;
    font-weight: 600;
    width: 180px;
    display: inline-block;
    line-height: 30px;
    margin-top: 15px;
    border-radius: 40px;
    transition: .5s ease-out;
}

.app-search a {
    position: absolute;
    top: 25px;
    right: 10px;
    color: #4c5667;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.m-r-10 {
    margin-right: 10px!important;
}

.form-control {
    background-color: #fff;
    border: 1px solid #e4e7ea;
    border-radius: 0;
    box-shadow: 4px;
    color: #565656;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px;
    transition: all 300ms linear 0s;
}

h2 {
    font-size: 20px;
    margin-top: 25px;
    margin-left: -25px;
}

img {
    width: 40px;
    vertical-align: middle;
}

.sider svg {
    vertical-align: middle;
    padding-right: 20px;
}



/* 标题栏样式设置 */

.top {
    background: #2F323E;
    position: fixed;
    /*固定在顶部*/
    top: 0;
    /*离顶部的距离为0*/
    margin-bottom: 5px;
    z-index: 999;
}

.top h1 {
    padding: 0 500px;
    font-size: 1.8rem;
    height: 75px;
    line-height: 75px;
    color: white;
    cursor: pointer;
    z-index: 999;
}

.rightUser {
    color: white;
    text-align: right;
    margin-top: -53px;
    position: fixed;
    /*固定在顶部*/
    right: 20px;
}

.rightUser label {
    margin-right: 30px;
}

.sider {
    width: 300px;
    background: white;
    height: 100%;
    position: fixed;
    /*固定在顶部*/
    z-index: 9999;
}

@media (max-width: 376px) {
    .sider {
        width: 50%;
    }
}

#siderTop {
    width: 300px;
    height: 75px;
    color: #fff;
    position: fixed;
    /*固定在顶部*/
    float: left;
    display: none;
}

#siderMenu {
    z-index: 9999;
    display: none;
}

.sider li {
    cursor: pointer;
    color: #54667a;
    margin-left: -100px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 35px 15px 20px;
    margin-top: 20px;
    border-right: 3px solid white;
}

.sider li:hover {
    background: #EDF1F5;
}

.sider a {
    text-decoration-line: none;
    color: #54667a;
}

.sider li img {
    width: 20px;
}

.firstLi {
    margin-top: 50px;
}

.idBig {
    z-index: 900;
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.idMid {
    position: relative;
    background: #FFFFFF;
    width: 50%;
    height: 80%;
    border-radius: 5px;
    margin: 5% auto;
}

#idSma {
    height: 40px;
    width: 100%;
}

#idSma label {
    font-size: 30px;
    color: black;
}

#idSma button {
    background: #1890FF;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 10px 15px;
    position: absolute;
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%);
    color: white;
}

.ideaINfo {
    margin-top: 130px;
}

.ideaINfo p {
    margin-top: 30px;
    color: #0D1A26;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.ideaINfo p input {
    width: 60%;
    height: 24px;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.ideaINfo p textarea {
    width: 60%;
    height: 200px;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    OVERFLOW: hidden
}

.zhezhao {
    z-index: 900;
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.tankuang {
    position: relative;
    background: #FFFFFF;
    width: 50%;
    height: 80%;
    border-radius: 5px;
    margin: 5% auto;
}

#header {
    height: 40px;
    width: 100%;
}

#header-right {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: red;
    color: #fff;
    right: 5px;
    top: 5px;
    text-align: center;
    cursor: pointer;
}

#header label {
    font-size: 30px;
    color: black;
}

#header img {
    display: block;
    position: absolute;
    width: 100px;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -50%);
}

#header button {
    background: #1890FF;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 10px 15px;
    position: absolute;
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%);
    color: white;
}

.info {
    display: block;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
}

.infoId {
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%, -50%);
}

.info p {
    margin-top: 30px;
    color: #0D1A26;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.info p input {
    width: 230px;
    height: 24px;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}


/*头像悬浮窗*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown li {
    margin-top: 7px;
}

.dropdown li a {
    color: black;
}

.dropdown li :hover {
    text-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: rgb(0, 139, 253);
    fill: rgb(0, 139, 253);
}

.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1325px) {
    .top .headline {
        /* font-size: 0px; */
        /* display: none; */
        visibility: hidden;
        font-size: 0px;
    }
    .in form {
        display: none;
    }
    #sider {
        display: none;
    }
    #siderTop {
        display: block;
    }
    .menu {
        display: block;
    }
    .info p {
        margin-top: 0px;
    }
    .tankuang {
        margin: 15% auto;
    }
}